# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# Dependencies
node_modules/
venv/
.venv/
__pycache__/
*.py[cod]

# Env
.env
.env.local

# Build output
dist/
build/
out/
